h1,h2,h3{
  margin:2px;
}
body {
  font-family:sans-serif;
}
#demo {
  position:relative;
  width:800px;
  height:400px;
  background-color:black;
}
#test {
  height:50px;
  width:800px;
  background-color:#ccc;
}
button {
  cursor:pointer;
  margin:6px;
  padding:6px;
}