@import url(https://fonts.googleapis.com/css?family=Montserrat);
html,body{
  background:#222;
  overflow:hidden;
  height:100%;
  margin:0;
  width:100%;
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  user-select:none;
}
#container{
  width:400px;
  margin:20px 20px 0 0;
  border-radius:10px;
  float:left;
  border:solid 2px #00AAA0;}
#minicontainer{
  width:380px;
  margin:10px 10px 10px 10px ;
  border-radius:10px;
}
.drag{
  width:40px;
  height:40px;
  background:#00AAA0;
  border-radius:20px;
}
.minidrag{
  width:20px;
  height:20px;
  background:#00AAA0;
  border-radius:10px;
}
.minimargin{
  width:100%;
  height:6px;
  float:left;
  background:#00AAA0;
  border-radius:3px;
  margin-top:-13px;
}
.mini{
  width:45%;
  height:40px;
  float:left;
  margin-left:2%;
  margin-bottom:10px;
}
.margin{
  width:100%;
  height:6px;
  background:#00AAA0;
  border-radius:3px;
  margin-top:-23px;
}
.write{
  font-size:20px;
  color:#00AAA0;
  font-family:Montserrat;
}
.big{
  width:100%;
  height:80px;
}
#changed{
  width:200px;
  height:200px;
  -webkit-transition:all 0.2 linear;
  -moz-transition:all 0.2s linear;
  -o-transition:all 0.2s linear;
  transition:all 0.2s linear;
  background:#333;
  float:left;
  border:solid 8px #00AAA0;
  font-size:30px;
  font-family:montserrat;
  color:#9cff00;
  overflow:hidden;
}
.b,.c{
  opacity:0;
  visibilit:hidden;
  display:none;
}
#huge{
  width:100%;
  height:86%;
  overflow:hidden;
}
.tab{
}
td{
  color:#fff;
  font-family:courier;
}
table{
  width:100%;
}
#colors{
  width:200px;
  height:140px;
  border:solid 2px #1a1a1a;
  float:right;
  margin:0 40px 0 0;
}
.cols{
  width:30px;
  height:30px;
  float:right;
  margin:6px;
  background:#fff;
  border:solid 3px #1a1a1a;
}
.choice{
  color:#fff;
  font-family:roboto;
  float:left;
  margin-top:10px;
  margin-left:20px;
  font-size:12px;
}
#col1{background-color:#F2635F;}
#col2{background-color:#E0A025;}
#col3{background-color:#F4D00C;}
#col4{background-color:#8EDC9D;}
#col5{background-color:#006495;}
#col6{background-color:#8C489F;}
#col7{background-color:#443266;}
#col8{font-size:160%;text-align:center;}