$red:#DD1E25;
$green:#498430;
$blue:#00529F;
$black:#2C2A29;

body{
	font-family: 'Nunito Sans', sans-serif;
	margin:0;
}

button{
	width:200px;
	height:42px;
	font-size:15px;
	font-weight:700;
	color:white;
	background:$black;
	border:none;
	outline:none;
	cursor:pointer;
	font-family: 'Nunito Sans', sans-serif;
}
.button-red{
	background:$red;
}
.button-green{
	background:$green;
}
.button-blue{
	background:$blue;
}

section{
	padding:50px;
	border-bottom:solid 10px #eee;
	h2{
		margin:0;
		line-height:1;
		margin-bottom:1em;
	}
	.button-list{
		display:grid;
		grid-gap:30px;
		grid-template-columns:repeat(auto-fill, 200px);
	}
}

.outer-ring{
	$offset:4px;
	$border: 3px;
	button{
		position:relative;
		&:before{
			content:"";
			color:$black;
			position:absolute;
			width:calc(100% + #{$offset*2});
			height:calc(100% + #{$offset*2});
			border:solid $border currentColor;
			left:-$offset - $border;
			top:-$offset - $border;
			opacity:0.6;
			transform:scale(.87,.5);
			opacity:0;
			transition:opacity 0.2s ease-in, transform 0.2s ease-in;
			z-index:-1;
			border-radius:$border+$offset;
		}
		&:hover,&:focus{
			&:before{
				transform:scale(1);
				opacity:1;
				transition:opacity 0.2s ease-out, transform 0.2s ease-out;
			}
		}
	}
	.button-red{
		&:before{
			color:$red;	
		}
	}
	.button-green{
		&:before{
			color:$green;	
		}
	}
	.button-blue{
		&:before{
			color:$blue;	
		}
	}
}

.outline-shadow{
	$outline:6px;
	button{
		position:relative;
		box-shadow: 0 0 0 $outline rgba($black,0);
		transition: box-shadow 0.2s ease-out;
		&:hover,&:focus{
			box-shadow: 0 0 0 $outline rgba($black,0.3);
		}
	}
}

.darken{
	button{
		transition: background 0.2s ease-out;
		&:hover,&:focus{
			background:#000;
			transition: background 0.3s ease-out;
		}
	}
}


.invert{
	$border:3px;
	button{
		transition: background 0.2s ease-out,color 0.2s ease-out;
		border: solid $black $border;
		
		&:hover,&:focus{
			background:#fff;
			color:$black;
		}
		
	}
	.button-red{
		border-color:$red;
		&:hover,&:focus{
			color:$red;
		}
	}
	.button-green{
		border-color:$green;
		&:hover,&:focus{
			color:$green;
		}
	}
	.button-blue{
		border-color:$blue;
		&:hover,&:focus{
			color:$blue;
		}
	}
}


