:root{
	--bg-color-yt:#323131;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background-color: #1a1a1a;
}
body::-webkit-scrollbar-thumb {
    background: darkgray; 
}

paper-listbox#menu .iron-selected, paper-listbox#menu paper-item.yt-dropdown-menu:hover{
	background-color:black !important;
}
paper-listbox#menu{
	background:var(--bg-color-yt) !important;
}
#tabs-inner-container{
	background:#1a1a1a !important;
}

ytd-app, ytd-section-list-renderer, #secondary, #creator-page, #creator-page .ytg-fl.account-container, #yt-masthead-container, body #footer-container, #yt-picker-language-footer, #yt-picker-country-footer, #yt-picker-safetymode-footer, #primary{
	background: url("chrome-extension://__MSG_@@deljjimclpnhngmikaiiodgggdniaooh/bgr2.png") no-repeat center bottom fixed !important;
	background-size:100% auto;
	background-transparent:.1;
	background-color:var(--bg-color-yt) !important;
}
ytd-topbar-logo-renderer#logo{
	background: url(chrome-extension://__MSG_@@deljjimclpnhngmikaiiodgggdniaooh/yt2.png) no-repeat right !important;
}

#comment #main #content, #meta-contents #container #content, form#search-form, form#search-form #container, #channel-container, #channel-container *{background-color:transparent !important;}
#contents, #contents *:not(ytd-button-renderer):not(.emoji-inner){background:none !important; background-color:transparent !important;}
app-drawer#guide{opacity:.85;}
div#masthead-container{opacity:.98;}

#content #masthead-container #masthead #container:not(.style-scope.ytd-searchbox), #content:not(.style-scope.ytd-searchbox), #guide #contentContainer #guide-content{
	background-color:transparent !important;
}
#content #page-manager .ytd-page-manager{
	background-color:var(--bg-color-yt) !important;
}

#masthead-container,#guide #contentContainer #guide-wrapper #guide-content, ytd-watch-flexy,#columns, ytd-browse, #channel-container #channel-header, ytd-multi-page-menu-renderer, #page-manager ytd-browse.style-scope.ytd-page-manager ytd-playlist-sidebar-renderer.style-scope.ytd-browse, #masthead-search-term, #guide-container, #yt-masthead-creation-clickcard, #yt-masthead-notifications-clickcard, #yt-masthead-notifications-content, #yt-masthead-notifications-content *, .yt-masthead-account-picker, .yt-masthead-account-picker *{background-color:var(--bg-color-yt) !important;}
#masthead-container *{background-color:transparent !important; background:none !important;}
#masthead-search button{background-color:var(--bg-color-yt); filter:brightness(130%);}
#masthead-search button .yt-uix-button-content{filter:brightness(300%);}
#masthead-search #masthead-search-term{border:var(--bg-color-yt) solid 1px;}
*{color:#eeeeee !important;}

form#search-form div#container.style-scope.ytd-searchbox{box-shadow:none !important;}
div.gstl_50.sbdd_a, div.gstl_50.sbdd_a *{
	background:var(--bg-color-yt) !important;
	color:#eeeeee !important;
}
paper-button yt-formatted-string, paper-button yt-formatted-string *{color: var(--color-text-inside-button) !important;}
a.yt-simple-endpoint.style-scope.ytd-active-account-header-renderer, ytd-simple-menu-header-renderer{background-color:#1a1a1a !important;}
#logo svg g g path:not([fill=white]){fill:darkred !important;}
/*#page-manager ytd-section-list-renderer#primary #contents ytd-item-section-renderer.style-scope.ytd-section-list-renderer #contents, #page-manager ytd-browse #alerts, #page-manager ytd-section-list-renderer#primary #contents, ytd-watch-flexy, ytd-section-list-renderer#primary, ytd-playlist-video-renderer, div#secondary, ytd-video-renderer.ytd-backstage-post-renderer, */h3.ytd-miniplayer, #card.style-scope.ytd-miniplayer, ytd-miniplayer #card #container .header.style-scope.ytd-playlist-panel-renderer,.header.ytd-playlist-panel-renderer, .playlist-items.ytd-playlist-panel-renderer, ytd-miniplayer #card #container iron-list#items, ytd-multi-page-menu-renderer, ytd-post-renderer{
	background:var(--bg-color-yt) !important;
}
#comment #main #content, #meta-contents #container #content, form#search-form, form#search-form #container, #channel-container, #channel-container *{background-color:transparent !important;}
ytd-simple-menu-header-renderer, ytd-active-account-header-renderer{background-color:#343434 !important;}
ytd-multi-page-menu-renderer{overflow-x:hidden !important;}
ytd-multi-page-menu-renderer ytd-account-settings{background:var(--bg-color-yt) !important;}
ytd-multi-page-menu-renderer ytd-account-settings .ytd-account-settings::-webkit-scrollbar{width:4px; background-color:#000c00;}
paper-listbox#items{background:var(--bg-color-yt) !important;border:solid gray 1px !important;}
paper-listbox#items ytd-menu-service-item-renderer:hover *{color:black !important;}
/* ytd-button-renderer.style-scope.yt-horizontal-list-renderer.arrow.style-default{
	background: url(chrome-extension://__MSG_@@deljjimclpnhngmikaiiodgggdniaooh/lr2.png) !important;
} */
paper-button, #columns.ytd-watch-flexy{background-color:transparent !important;}
ytd-mini-guide-renderer ytd-mini-guide-entry-renderer, ytd-rich-metadata-row-renderer .ytd-rich-metadata-renderer{background:var(--bg-color-yt) !important;}
ytd-playlist-panel-renderer#playlist #items-stamp, ytd-mini-guide-renderer{background-color:transparent !important;}

.exp-kevlar-settings .account-page #creator-sidebar .creator-sidebar-item.selected>a, #yt-picker-language-button, #yt-picker-country-button, #yt-picker-safetymode-button, .footer-history.yt-uix-sessionlink, .yt-google-help-link, #creator-page-content .account-content option{background-color:transparent !important;}
#creator-sidebar .creator-sidebar-section a:hover{color:gray !important;background-color:transparent !important;}
.social-connector, .desktop-notifications .browser, button.yt-uix-button.yt-uix-button-size-default, input[type=text], select, option, span.yt-uix-form-input-select-content, .sbdd_b .sbsb_a ul.sbsb_b{background-color:var(--bg-color-yt) !important;}
.yt-uix-button {background-color:transparent !important;}


*::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  background-color: var(--bg-color-yt);
}
*::-webkit-scrollbar-thumb {
    background: gray; 
}

/* #right-arrow, #left-arrow{background: url(chrome-extension://__MSG_@@deljjimclpnhngmikaiiodgggdniaooh/lr2.png) !important; background-repeat:no-repeat !important;} */
yt-chip-cloud-chip-renderer[chip-style="STYLE_HOME_FILTER"][selected]{
	background-color:var(--bg-color-yt) !important;
}
#chips-wrapper.ytd-feed-filter-chip-bar-renderer, tp-yt-paper-listbox{background-color:var(--bg-color-yt) !important;}
:root{
	--yt-spec-brand-background-primary:var(--bg-color-yt) !important;
}
yt-chip-cloud-renderer #right-arrow::before, yt-chip-cloud-renderer #right-arrow #right-arrow-button, yt-chip-cloud-renderer #left-arrow::before, yt-chip-cloud-renderer #left-arrow #left-arrow-button{background:transparent !important;}

#chips-wrapper #right-arrow #right-arrow-button ytd-button-renderer, #chips-wrapper #left-arrow #left-arrow-button ytd-button-renderer, yt-chip-cloud-renderer div#right-arrow, yt-chip-cloud-renderer div#left-arrow{background-image:url(chrome-extension://__MSG_@@deljjimclpnhngmikaiiodgggdniaooh/lr2.png) !important;background-position: center !important; background-color:transparent !important;background-repeat:no-repeat !important;}
iron-selector#chips, #secondary #scroll-container{background-color:var(--bg-color-yt) !important;background-image:none !important;}
#left-arrow, #left-arrow:after, #right-arrow, #right-arrow:before{background-color:transparent !important; background-image:none !important;}
#left-arrow #left-arrow-button, #right-arrow #right-arrow-button{background-color:transparent !important;}
#left-arrow #left-arrow-button a, #right-arrow #right-arrow-button a{background-color:darkgray !important;}
#primary #primary-inner #clarify-box .ytd-watch-flexy{background: transparent !important;}