.container
  .rubiks-cube
    .cube-side.side-front
      - (1..9).each do |i|
        %div.cube-side-square
    .cube-side.side-back
      - (1..9).each do |i|
        %div.cube-side-square
    .cube-side.side-right
      - (1..9).each do |i|
        %div.cube-side-square
    .cube-side.side-left
      - (1..9).each do |i|
        %div.cube-side-square
    .cube-side.side-top
      - (1..9).each do |i|
        %div.cube-side-square
    .cube-side.side-bottom
      - (1..9).each do |i|
        %div.cube-side-square
