section.scene
	.rotor
		del.year(aria-hidden='true'): time(datetime='2020') 2020
		ins.year(aria-hidden='true'): time(datetime='2021') 2021
		del.year: time(datetime='2020') 2020
		ins.year: time(datetime='2021') 2021